h2 {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.currentPage {
  position: absolute;
  top: -1.4rem;
  left: 50%;
}

.answer {
  height: 4rem;
  border: solid 1px rgb(236, 152, 236);
  border-top: none;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answer:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.answers > :first-child {
  border-top: solid 1px rgb(236, 152, 236);
}
.answer > p {
  margin-right: 0.5rem;
  pointer-events: none;
}
.answer * {
  pointer-events: none;
}
.correctAnswer {
  background-color: rgb(247, 121, 230);
  color: white;
}

.solutionContainer {
  padding-top: 1rem;
  width: 75%;
}
.solutionContainer > * {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.rightAnswer {
  margin-top: 1rem;
  font-weight: 700;
}

.submitBtn,
.nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease-in;
  opacity: 0;
}

.submitBtn {
  bottom: 0px;
  left: 35%;
  background-color: blueviolet;
  font-size: 2rem;
  transform: translate(0, 100%);
}

.nextBtn {
  top: 50%;
  right: -1rem;
  background-color: rgba(159, 73, 240, 0.726);
  font-size: 1.8rem;
  transform: translate(70%, 0);
}

.btnActive {
  transform: translate(0, 0);
  opacity: 1;
}

.nextBtn:hover,
.submitBtn:hover {
  box-shadow: 1px 1px 1px 1px rgb(177, 38, 177);
}
